<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>rahhaleh</title>
</head>
<body>
    <header>
        <%-include('./partials/nav')%>
    </header>
    <main>
        
        <section id="header">
            <video width="100%" autoplay muted loop preload="auto" src="/images/header.mp4"></video>

            <form action="/search" method="post">
                <div>
                    <input type="text" name="airline" placeholder="Airline name" required>
                    <br>
                    <input type="text" name="flightnumber" placeholder="Flight number">
                    <br>
                    <input type="text" name="departure" placeholder="Departure">
                    <br>
                    <input type="text" name="arrival" placeholder="Arrival">
                    <br>  
                    <button type="submit"><img class="shift-down" src="/images/magnifying-glass.png" width="15px">Search</button>  
                </div>
              
            </form>
        </section>
        <!--NIZAR-->
        <section id="airline-cards">

            <%result.forEach(airlineObj=>{%>
                <a href="/community/search?search=<%=Object.keys(airlineObj)[0]%>">
                <div>
<!--                     <form action="/community/search" method="GET" >
                        <input type="text" name="search" hidden value="<%=Object.keys(airlineObj)[0]%>">
                        <button type="submit"></button>
                    </form>   -->     
                    <img src="<%=Object.values(airlineObj)[1]%>" alt="<%=Object.keys(airlineObj)[1]%>">
                    <h3><%=Object.keys(airlineObj)[0]%></h3>
                    <h5><%=Object.values(airlineObj)[0]%><span> <span class="star">&starf;</span></span></h5>
                </div>
            </a>
                <%})%>
        </section>
        <!--NIZAR-->

            


    </main>
    <%-include('./partials/footer')%>
   
</body>
</html>