<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>Document</title>
</head>
<body>
    <header>
        <%-include('./partials/nav')%>
    </header>
    <main>
        <section id="header">

            <form action="/search" method="post">
                <div>
                    <input type="text" name="airline" placeholder="airline name" required>
                    <br>
                    <input type="text" name="flightnumber" placeholder="flight number">
                    <br>
                    <input type="text" name="departure" placeholder="Departure">
                    <br>
                    <input type="text" name="arrival" placeholder="Arrival">
                    <br>    
                </div>
                <button type="submit">search</button>
            </form>
        </section>
        <!--NIZAR-->
        <section id="airline-cards">
            <%result.forEach(airlineObj=>{%>
                <div>
                    <h3><%=Object.keys(airlineObj)[0]%></h3>
                    <h5><%=Object.values(airlineObj)[0]%><span> &starf;</span></h5>
                </div>
                <%})%>
        </section>
        <!--NIZAR-->

            


    </main>
    <%-include('./partials/footer')%>
</body>
</html>