<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <title>Community</title>
</head>
<body>
    <% fData.forEach(obj=>{ %>
        <ul>
            <li><%=obj.flight_num%></li>
            <li><%=obj.airline%></li>
            <li><%=obj.departure%></li>
            <li><%=obj.arrival%></li>
            <li><%=obj.flight_date%></li>
            <li><%=obj.flight_status%></li>
        </ul>
    <%})%>
    <% result.forEach(obj=>{ %>
        <ul>
            <li><%=obj.user_name%></li>
            <li><%=obj.comment%></li>
            <li><%=obj.flight_rate%></li>
        </ul>
    <%})%>
    

</body>
</html>