<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <title>Community</title>
</head>
<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="communitySection">
         

                <% for(let i=0;i<result.length;i++){ %>
                <% if(i%2===0){ %>
                    <div>
                   <ul>
                        <li><img src="/images/user.png" width="35px"/></li>&NonBreakingSpace; 
                         <li> <b><%= result[i].user_name %></b> </li>
                         <br>
                         <li><b> Rating: </b><%= result[i].flight_rate %></li>
                         <br>
                         <li><b>Comment:</b>  <%= result[i].comment %></li>
                   
                   
            <% }else{%>
              
                    <li id="logo"><img src="<%= result[i].logo %>" alt="flight logo" /> </li>
                  
                    <li><%= result[i].airline %></li>
                    <br>
                    <li><img src="/images/takeoff-the-plane.png"style="width: 20px;"> <%= result[i].departure %></li>
                    
                    <li><img src="/images/plane-landing.png" style="width: 20px;"> <%= result[i].arrival %></li>
                    <br>
                    <li><%= result[i].flight_date %></li>
                </ul>
            </div>
        <% } %>
    
        <% } %>
  
    </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>