<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <title>Community</title>
</head>
<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="communitySection">
            <div>
            <ul>
                <li>airline name: <%= result[1].airline %></li>
                <br>
                <li>departure: <%= result[1].departure %></li>
                <li>arrival: <%= result[1].arrival %></li>
                <br>
                <li><%= result[1].flight_date %></li>
            </ul>
        <ul>
            <li>name: <%= result[0].user_name %></li>
            <li>rating: <%= result[0].flight_rate %></li>
            <br>
            <li>comment: <%= result[0].comment %></li>
        </ul>
        </div>
    </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>