<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <title>Community</title>
</head>
<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="community-search-section">
            <form id="community-search-form" action="/community/search" method="GET" >
                <input type="text" name="search" placeholder="Enter your search"   required>
                <button type="submit">Search</button>
            </form>
        </section>
        <section id="communitySection">
         

                <% for(let i=0;i<result.length;i++){ %>
                <% if(i%2===0){ %>
                    <div id="comment-div">
                   
                         <li><img src="/images/user.png" width="35px"/></li>; 
                         <li> <b><%= result[i].user_name %></b> </li>
                        
                         <li> <% for (let j=0;j< result[i].flight_rate  ; j++) { %>
                            &starf;                            
                        <%}%></li>
                         
                         <li><b>Comment:</b><p>  <%= result[i].comment %></p></li>
                   
                   
            <% }else{%>
              
                    <li id="logo"><img src="<%= result[i].logo %>" alt="flight logo" /> </li>
                  
                    <li><%= result[i].airline %></li>
                    
                    <li><img class="shift-down" src="/images/takeoff-the-plane.png"style="width: 15px;"> <%= result[i].departure %></li>
                    
                    <li><img class="shift-down" src="/images/plane-landing.png" style="width: 15px;"> <%= result[i].arrival %></li>
                    
                    <!-- <li><%= result[i].flight_date %></li> -->
                
            </div>
        <% } %>
    
        <% } %>
  
    </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>