<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head')%>
    <title>Community</title>
</head>
<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="communitySection">
         <% result.forEach(obj=>{ %>
            <div>
            <ul>
                <li>flight_number: <%= obj.flight_num %></li>
                <li>airline_name: <%= obj.airline %></li>
                <li>departure: <%= obj.departure %></li>
                <li>arrival <%= obj.arrival %></li>
                <li>flight_date: <%= obj.flight_date %></li>
                <li>flight_status: <%= obj.flight_status %></li>
            </ul>
            <ul>
                <li>user_name: <%= obj.user_name %></li>
                <li>comment: <%= obj.comment %></li>
                <li>flight_rate: <%= obj.flight_rate %></li>
            </ul>
        </div>
        <%})%> 
    </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>