<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head')%>
        <title>Document</title>
</head>

<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main id="review-main">
        <div id="reviewed-flight-info">
            <li id="logo"><img src="<%= result.logo %>" alt="flight logo" > </li>
           
            <p><%= result.airline %> Airline.</p>
            <p>Flight Number: <%= result.flight_num %></p>           
            <p>Departure: <img src="/images/takeoff-the-plane.png"style="width: 20px;"> <%= result.departure %> Airport.</p>                
            <p>Arrival: <img src="/images/plane-landing.png" style="width: 20px;"> <%= result.arrival %> Airport.</p>                               
            <p>Date:  <%= result.flight_date %>. </p>               
            <p>Status: <%= result.flight_status %>.</p>                
        </div>

        <section id="review-form-section">
            <form id="review-form" action="/community" method="POST">

              
                    <input type="text" name="userName" id="" placeholder="Your Username" required>
                    <textarea name="userReview" id="" cols="30" rows="10" placeholder="Add your review here" required></textarea>
                    <label for="">Rating:
                        <input class="radio" type="radio" value="5" name="rate"> 5 </input>
                        <input class="radio" type="radio" value="4" name="rate"> 4 </input>
                        <input class="radio" type="radio" value="3" name="rate"> 3 </input>
                        <input class="radio" type="radio" value="2" name="rate"> 2 </input>
                        <input class="radio" type="radio" value="1" name="rate"> 1 </input>
                    </label>
                    <button type="submit">Post Review</button>
               
            </form>
        </section>
    </main>
    <%-include('../partials/footer')%>
</body>

</html>