<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head')%>
    <title>flights</title>
</head>

<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="showSection">
            <% if(searchResults) { %>
                <% searchResults.forEach(flight=>{ %>
                    <div>
                        <ul>
                           <li id="logo"><img src="<%= flight.logo %>" alt="flight logo" > </li>
                            <li> 
                                <%= flight.airline %>
                                <b>  <%= flight.flight_date %></b>
                            </li>
                            <li>Status: 
                                <%= flight.flight_status %>
                            </li>
                            <li>Departure : <img class="shift-down" src="/images/takeoff-the-plane.png"style="width: 20px;">
                                <%= flight.departure %> Airport
                            </li>
                            <li>Arrival : <img class="shift-down" src="/images/plane-landing.png" style="width: 20px;">
                                <%= flight.arrival %> Airport
                            </li>
                           
                            <li>Flight number: 
                                <%= flight.flight %>
                            </li>
                        </ul>
                        <form action="/review" method="POST">
                            <input type="hidden" value=" <%= flight.logo %>" name="logo" >
                            <input type="hidden" value=" <%= flight.flight %>" name="flight_num" > 
                            <input type="hidden" value=" <%= flight.airline %>" name="airline" > 
                            <input type="hidden" value="<%= flight.departure %>" name="departure" > 
                            <input type="hidden" value="<%= flight.arrival %>" name="arrival" > 
                            <input type="hidden" value="<%= flight.flight_date %>" name="flight_date" > 
                            <input type="hidden" value="<%= flight.flight_status %>" name="flight_status" > 
                            <button type="submit">review</button>
                        </form>
                    </div>
                   
                    <% }) %>
                        <% } %>
                    </section>
    
        
    </main>
    <%-include('../partials/footer')%>
</body>

</html>