<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head')%>
    <title>Search results</title>
</head>

<body>
    <header>
        <%-include('../partials/nav')%>
    </header>
    <main>
        <section id="showSection">
            <% if(searchResults) { %>
                <% searchResults.forEach(flight=>{ %>
                    <div>
                        <ul>
                           <li>Date: 
                            <%= flight.flight_date %>
                            </li>
                            <li>Status: 
                                <%= flight.flight_status %>
                            </li>
                            <li>Departure: 
                                <%= flight.departure %>
                            </li>
                            <li>Arrival: 
                                <%= flight.arrival %>
                            </li>
                            <li>Airline: 
                                <%= flight.airline %>
                            </li>
                            <li>Flight number: 
                                <%= flight.flight %>
                            </li>
                        </ul>
                        <form action="/review" method="POST">
                            <input type="hidden" value=" <%= flight.flight %>" name="flight_num" > 
                            <input type="hidden" value=" <%= flight.airline %>" name="airline" > 
                            <input type="hidden" value="<%= flight.departure %>" name="departure" > 
                            <input type="hidden" value="<%= flight.arrival %>" name="arrival" > 
                            <input type="hidden" value="<%= flight.flight_date %>" name="flight_date" > 
                            <input type="hidden" value="<%= flight.flight_status %>" name="flight_status" > 
                            <button type="submit">Add My Review</button>
                        </form>
                    </div>
                   
                    <% }) %>
                        <% } %>
                    </section>
    
        
    </main>
    <%-include('../partials/footer')%>
</body>

</html>